// Template colour overrides
body {
	background-color: @color__body--background;
}

.company-link {
	color: @color__companyname--text;
}

a {
	color: @color__link--text;
}

h1 {
	color: @color__h1--text;
}

h2 {
	color: @color__h2--text;
}

h3 {
	color: @color__h3--text;
}

h4 {
	color: @color__h4--text;
}

p {
	color: @color__p--text;
}

button,
.button {
	background-color: @color__button--background;
	color: @color__button--text;
	&:hover {
		background-color: @color__button--background--hover;
		color: @color__button--text--hover;
	}
}

.template-header {
	background-color: @color__header--background;
}

.template-footer {
	background-color: @color__footer--background;
}

#page-zones__template-widgets__image-sidebarimage {
	background-color: @color__sidebar--background;
}

.extendednavigation {
	&__navigation-body {
		background-color: @color__navigation-list--background;
	}
	&__item-name.item-name {
		color: @color__navigation-item--text;
		&:hover {
			color: @color__navigation-item--selected;
		}
	}
	&__navigation-item.selected {
		color: @color__navigation-item--selected;
	}
}

.feature {
	background-color: @color__feature--background;
	&__content-wrap {
	}
	&__headline {
		color: @color__feature-headline--text;
	}
	&__strapline {
		color: @color__feature-strapline--text;
	}
	&__button {
		background-color: @color__feature-button--background;
		color: @color__feature-button--text;
		&:hover {
			background-color: @color__feature-button--background--hover;
		}
	}
}

form,
.form {
	legend,
	.legend {
		color: @color__form-legend--text;
	}
	label,
	.label {
		color: @color__form-label--text;
	}
}

.imagewidget {
	&__caption {
		background-color: @color__image-caption--background;
	}
	&__image-title {
		color: @color__image-title--text;
	}
	&__image-description {
		color: @color__image-description--text;
	}
}

.gallery {
	&__caption.caption {
		background-color: @color__gallery-caption--background
	}
	&__image-title.image-title {
		color: @color__gallery-title--text;
	}
	&__image-description.image-description {
		color: @color__gallery-description--text;
	}
}

.responsiveslideshow {
    &__caption.caption {
        background-color: @color__slideshow-caption--background;
    }
    &__image-title.image-title {
        color: @color__slideshow-title--text;
    }
    &__image-description.image-description {
        color: @color__slideshow-description--text;
    }
    .button--pagination {
        color: @color__slideshow-pagination-item--text;
    }
    .selected .button--pagination {
        color: @color-swatch1;
    }
}

.responsiveslideshow__next-button, 
.responsiveslideshow__previous-button, 
.responsiveslideshow__pause-toggle {
	color: @color-swatch1!important;
}

.blogsearch {
	&__legend.legend {
		color: @color__blogsearch-legend--text;
	}
	&__label.label {
		color: @color__blogsearch-label--text;
	}
}

.blogpostlist {
	&__title-link {
		color: @color__blogpostlist-title--text;
	}
}

.blogpost {
	&__post-title {
		color: @color__blogpost-title--text;
	}
}

.ecomproductslist {
	&__legend.legend {
		color: @color__ecomproductslist-legend--text;
	}
	&__label.label {
		color: @color__ecomproductslist-label--text;
	}
	&__product-item {
		background-color: @color__ecomproductslist-product-item--background;
	}
	&__product-item-title a {
		color: @color__ecomproductslist-product-title--text;
	}
}

.ecomproduct {
	&__image-link.image-link,
	&__gallery-item.gallery-item {
		background-color: @color__ecomproduct-images--background;
	}
	&__product-title {
		color: @color__ecomproduct-title--text;
	}
	&__product-price {
		color: @color__ecomproduct-price--text;
	}
}
.ecombasket {
	button.button {
		background-color: @color__ecombasket-button--background;
		color: @color__ecombasket-button--text;
		&:hover {
			background-color: @color__ecombasket-button--background--hover;
		}
	}
}
