{% extends "layout.twig" %}
{% block content %}


{% include "includes/header.twig" %}


{% include "includes/video.twig" %}


<!-- Container -->
<div class="container">

	<!-- Page Content -->
	<section class="template-content">

		<!-- Main Widget Zone -->
	   	{{zone('main')|raw}}

	</section>
</div>


{% include "includes/footer.twig" %}


{% endblock %}
